{% extends "admin/base.twig" %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Choose to log into the application</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <div class="btn-lg">
                            <a href="/login" class="fa fa-facebook-square fa-5x"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <div class="btn-lg">
                            <form action="/login" method="post">
                                <input type="text" name="_username" value="" />
                                <input type="password" name="_password" value="" />
                                <input type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

